@mixin tablet-layout-fontnav() {
    @media only screen and (min-width:600px) {
      
        font-size: 1.5em;
              
    }
    
}


@mixin tablet-layout-fontheader() {
    @media only screen and (min-width:600px) {
      
        font-size: 2em;
              
    }
    
}

@mixin tablet-layout-fontboldheader() {
    @media only screen and (min-width:600px) {
      
        font-size: 2em;
              
    }
    
}


@mixin tablet-layout-fontmenu() {
    @media only screen and (min-width:600px) {
      
        font-size: 2em;
              
    }
    
}

@mixin tablet-layout-fontdescription() {
    @media only screen and (min-width:600px) {
      
        font-size: 1.5em;
              
    }
    
}


@mixin tablet-layout-fontparagraph() {
    @media only screen and (min-width:600px) {
      
        font-size: 1.2em;
              
    }
    
}

        

    

        
        
    
    


