* {
  margin: 0;
  padding: 0;
}

h1 {
  color: #4b0808;
  text-align: center;
  margin-top: 5%;
  margin-bottom: 5%;
  font-family: "Asap", sans-serif;
  font-size: 4em;
}

/* HEADER RULES  */
#header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 100;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 2fr;
      grid-template-columns: 1fr 1fr 2fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: auto;
  text-align: center;
  background-color: #ffe6a7;
  font-family: "Magra", sans-serif;
  justify-items: center;
  /* Logo */
  /* Phone number container */
  /* Navagation Bar for Desktop only */
}

@media only screen and (min-width: 600px) {
  #header {
    font-size: 1.3em;
  }
}

#header img {
  height: auto;
  width: auto;
  max-height: 150px;
}

#header h2 {
  width: 90%;
  text-align: center;
  /* Phone number for desktop (unclickable) */
  /* Hiding mobile clickable phone number */
}

#header h2 .regular {
  padding: 5%;
  margin: 5%;
  -ms-flex-line-pack: center;
      align-content: center;
}

#header h2 .clickable {
  font-size: 1.5em;
  text-decoration: none;
  color: white;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  padding: 2px;
  margin: 2px;
  background-color: #D10000;
  display: none;
}

#header #navbar-desktop {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  width: 100%;
  min-height: 10vh;
  background-color: #c3a068;
  z-index: 100;
  font-family: "Magra", sans-serif;
}

@media only screen and (min-width: 1000px) {
  #header #navbar-desktop {
    font-size: 1em;
  }
}

#header #navbar-desktop a {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: black;
  font-weight: bold;
  text-decoration: none;
  height: 10vh;
}

#header #navbar-desktop a:hover {
  color: white;
  background-color: #4b0808;
}

/* Hiding tablet and mobile navigation bar */
#navbar {
  display: none;
}

/* CONTENT RULES */
#content {
  height: auto;
  /* Header that displays important info meant to stand out on front of page  */
  /* CONTACT PAGE */
  /* Making contact information into a grid layout for desktop */
  /* Index page grid layout for extra images */
  /* Regular paragraph font styling  */
  /* Home page text */
  /* ABOUT US PAGE */
  /* Link Styling */
  /* Homepage image style*/
  /* Responsive iframe  */
}

#content .boldheader {
  position: relative;
  font-size: 1em;
  text-align: center;
  padding: 10px;
  margin: 5%;
  width: 70%;
  color: #D10000;
  border: solid #D10000 1px;
  font-family: "Asap", sans-serif;
  background-color: white;
  left: 10vw;
  right: 10vw;
  -webkit-box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.5), 0 6px 25px 0 rgba(0, 0, 0, 0.5);
          box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.5), 0 6px 25px 0 rgba(0, 0, 0, 0.5);
}

@media only screen and (min-width: 600px) {
  #content .boldheader {
    font-size: 2em;
  }
}

#content #desktoptable {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 80%;
  margin-left: 10%;
  margin-top: 5%;
  margin-bottom: 5%;
  border: black solid 2px;
  grid-gap: 2px;
  background-color: black;
}

#content #desktoptable .contactborder {
  width: 100%;
  height: 100%;
  background-color: white;
}

#content #desktoptable h1 {
  text-align: center;
  width: 95%;
  padding: 2%;
}

#content #desktoptable p, #content #desktoptable a {
  display: -ms-grid;
  display: grid;
  text-align: center;
  font-size: 1.5em;
  margin: auto;
  width: 95%;
  padding: 2%;
  margin: 0;
}

#content #desktoptable .contactheader {
  margin: auto;
  padding: 2%;
}

#content #desktop-indexgrid {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  -webkit-column-gap: 2%;
          column-gap: 2%;
  margin-left: 10%;
  margin-right: 10%;
}

#content #desktop-indexgrid p {
  font-size: 1.5em;
  text-align: center;
}

#content #desktop-indexgrid img {
  width: 100%;
  height: 40vh;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10%;
  -webkit-box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.5), 0 6px 25px 0 rgba(0, 0, 0, 0.5);
          box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.5), 0 6px 25px 0 rgba(0, 0, 0, 0.5);
}

#content p {
  font-weight: bold;
  background-color: white;
  font-size: 1.5em;
  font-family: "Asar", serif;
  margin: 5%;
  text-align: justify;
  padding: 2px;
}

#content .homepage-text {
  position: relative;
  top: 10vh;
  font-weight: bold;
  background-color: rgba(255, 255, 255, 0);
  font-size: 1.5em;
  font-family: "Asar", serif;
  margin-top: 15%;
}

#content .homepage-text a {
  margin-bottom: 10%;
}

#content .aboutus {
  text-align: center;
  font-size: 4em;
}

#content .about {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 5%;
          column-gap: 5%;
}

#content .about .rounded-image {
  display: block;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 95%;
  height: 50vh;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10%;
  margin: 5%;
  -webkit-box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.5), 0 6px 25px 0 rgba(0, 0, 0, 0.5);
          box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.5), 0 6px 25px 0 rgba(0, 0, 0, 0.5);
}

#content a {
  text-align: center;
  display: block;
  font-size: 1.5em;
  font-weight: bold;
  color: #8f8f8f;
  font-family: "Asap", sans-serif;
  width: 95%;
  margin: 5%;
  font-size: 2em;
  margin: auto;
  padding: 2%;
  width: 80%;
}

#content a:active {
  color: #D10000;
}

#content #pizza-image {
  position: absolute;
  top: 10vh;
  display: block;
  width: 100%;
  height: 50vh;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 40% 40%;
     object-position: 40% 40%;
  border-radius: 5%;
  z-index: -1;
}

#content .iframe-container {
  width: 100%;
  height: 70vh;
  margin-left: 5%;
  margin-right: 5%;
}

#content .responsive-iframe {
  width: 80%;
  height: 100%;
}

/* MENU PAGE  */
#grid-container > .seperator {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(80px, 1fr))[4];
      grid-template-columns: repeat(4, minmax(80px, 1fr));
  width: 90%;
  -webkit-column-gap: 5px;
          column-gap: 5px;
  row-gap: 5px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: white;
  outline: solid #4b0808 5px;
  /* Footer Rules */
}

#grid-container > .seperator h3 {
  display: -ms-grid;
  display: grid;
  text-align: center;
  background-color: #4b0808;
  color: white;
  width: 90%;
  height: 90%;
  margin: 5%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Asap", sans-serif;
}

@media only screen and (min-width: 600px) {
  #grid-container > .seperator h3 {
    font-size: 2em;
  }
}

#grid-container > .seperator #card-container {
  display: -ms-grid;
  display: grid;
  position: relative;
}

#grid-container > .seperator .menu-image {
  width: 70%;
  margin: 5%;
  -o-object-fit: cover;
     object-fit: cover;
  height: 30vh;
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}

#grid-container > .seperator .menu-description:hover ~ .menu-image {
  width: 90%;
}

#grid-container > .seperator .menu-description:hover {
  background-color: rgba(255, 255, 255, 0.8);
  opacity: 1;
  width: 90%;
  -webkit-transition-delay: 0.5s;
          transition-delay: 0.5s;
}

#grid-container > .seperator .menu-description {
  display: -ms-grid;
  display: grid;
  position: absolute;
  margin: 5%;
  width: 70%;
  top: 0%;
  height: 30vh;
  opacity: 0;
  text-align: center;
  font-size: 0.8em;
  background-color: white;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.25s ease-in;
  transition: all 0.25s ease-in;
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
  font-family: "Asar", serif;
}

@media only screen and (min-width: 600px) {
  #grid-container > .seperator .menu-description {
    font-size: 1.5em;
  }
}

#grid-container > .seperator .menu-name {
  width: 80%;
  color: #4b0808;
  font-size: 1.5em;
  margin: 5%;
  padding: 0;
}

#grid-container > .seperator #footer {
  margin-top: 5vh;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  min-height: 7vh;
  text-align: center;
  background-color: #c3a068;
  font-size: small;
  font-family: "Asap", sans-serif;
}

@media only screen and (min-width: 600px) {
  #grid-container > .seperator #footer {
    font-size: 1.3em;
  }
}
/*# sourceMappingURL=desktop.css.map */