@import '_variables';
@import '_mixins';


* {
    margin:0;
    padding:0;
    
}

h1 {
    color: #4b0808;
    text-align: center;
    margin-top: 5%;
    margin-bottom: 5%;
    font-family: $header-fontstyle;
    font-size: 3em;
      
}



/* Header rules  */

#header {

position: sticky;
top:0;
z-index: 100;
display: grid;
grid-template-columns: 1fr 1fr 2fr;
align-items: center;
justify-content: center;
width: 100%;
height: auto;
text-align: center;
background-color: #ffe6a7;
font-family: $other-fontstyle;
@include tablet-layout-fontnav();
justify-items: center;


img {
    
    height: auto;
    width: auto;
    max-height: 150px;
}

h2 {
    
    width: 90%;
    text-align: center;
   
    

    .regular {
        padding: 5%;
        margin: 5%;
       
        align-content: center;
    }
    
    
   
    .clickable {
     @include phonenumber-style();
     display:none;
    }

}


#navbar-desktop {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    min-height: 10vh;
    background-color: #c3a068;
    z-index:100;
    font-family: $other-fontstyle;
    @include desktop-layout-fontnav();
 

    a { 
        display: grid;
        align-items: center;
        color:black;
        font-weight: bold;
        text-decoration: none;
        height: 10vh;
       
        
        
    
    
        &:hover {
            color: white;
            background-color: #4b0808;
            
        }

    }

}
}


#navbar {
    display: none;
}





/* Content Rules */

#content {

   
    height: auto;
    
   /* Header that displays important info meant to stand out on front of page  */

    .boldheader {
        position: relative;
        font-size: 1em;
        text-align: center;
        padding: 10px;
        margin: 5%;
        width: 70%;
        color:#D10000;
        border: solid #D10000 1px;
        font-family: $header-fontstyle;
        @include tablet-layout-fontboldheader();
        background-color: white;
        left: 10vw;
        right: 10vw;


    }

    /* Contact Page */

  #desktoptable {
      display: grid;
      grid-template-columns: 1fr 1fr; 
      justify-items: center;
      align-items: center;
      width: 80%;
      margin-left: 10%;
      margin-top: 5%;
      margin-bottom: 5%;
      border: black solid 2px; 
      grid-gap: 2px;

      background-color: black;
      
      .contactborder {
       width: 100%;
       height: 100%;
       background-color: white;
      

     
      }
     
    
      
      h1 {

          text-align: center;
          width: 95%;
          padding: 2%;
        
          
          
      }

      p, a { 
          display: grid;
          text-align: center;
          font-size: 1.5em; 
          margin: auto;
          width: 95%;
          padding: 2%;
          margin: 0;
          
        }

        .contactheader {
            margin: auto;
            padding: 2%;
        }
        
  }


  #desktop-indexgrid {

  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  margin-left: 10%;
  margin-right: 10%;
  

  img {

    width: 100%;
    height: 30vh;
    object-fit: cover;
  
  }


  }

    
    /* Regular paragraph font styling  */

    p {
       
        font-weight: bold;
        background-color: white;
        font-size: 1.5em;
        font-family: $paragraph-fontstyle;
        margin: 5%;
       
        
    }

    .aboutus {
        display: grid;
        grid-template-columns: 1fr 1fr ;
        margin: 0;
        text-align: center;

        }
        
.about {
    display: grid;
    grid-template-columns: 1fr 1fr; 
    align-items: top;
    padding: 5%;
    margin:auto;
 
  

    .rounded-image {

        display: block;
        width: 95%;
        height: 60vh;
        object-fit: cover;
        border-radius: 10%;
        margin: 5%;
    
    }



}

    /* Link Styling */

        a {
            @include fontlinkstyle ();
            font-size: 2em;
            margin: auto;
            padding: 2%;
            width: 80%;
            
            

            &:active {
                color: #D10000;
            }
 
        }
       


      
        
    
    /* Image styling */
    

    #pizza-image {
        position: absolute;
        top: 10vh;
        display: block;
        width: 100%;
        height: 50vh;
        object-fit: cover;
        object-position: 40% 40%;
        border-radius: 5%;
        z-index: -1;
      
    
    }
    

/* Responsive iframe  */

.iframe-container {
    
    width: 100%;
    height: 80vh;
    
}

.responsive-iframe {

width: 90%;
height: 100%;

}

}


    
/* Menu rules  */

#grid-container > .seperator {
    display: grid;
    grid-template-columns: repeat(2, minmax(250px,1fr));
    width: 90%;
    margin-left: 5%;
    margin-top: 5vh;
    justify-content: center;
    align-items: center;
    background-color:#4b0808;
    
    
 

    h3 {
        display: grid;
        text-align: center;
        background-color: #4b0808;
        color: white;
        margin:3%;
        width: 50%;
        top: 0%;
        height: 30vh;
        justify-content: center;
        align-items: center;
        font-family: $header-fontstyle;
        @include tablet-layout-fontmenu();
    
       
    }

   
    
    #card-container {
        
        display: grid;
        position: relative;
        

    }

    .menu-image {
        
        width:50%;
        margin: 5%;
        transition-property: all 0.25s ease-in;

        &:hover {
            width: 100%;
        }
       
    }

    
    .menu-description {

        display: grid;
        position: absolute;
        margin:5%;
        width: 50%;
        top: 0%;
        height: 30vh;
        opacity: 0;
        text-align: center;
        font-size: 0.8em;
        background-color:white;
        justify-content: center;
        align-items: center;
        transition: all 0.25s ease-in-out;
        font-family: $paragraph-fontstyle;
        @include tablet-layout-fontdescription();
       
    
        
        &:hover {
            background-color: rgba(255, 255, 255, 0.8);
            opacity:1;
            width: 100%;
        }

       }

       .menu-name {
           width: 55%;
           color: white;
           font-size: 1.5em;
          
       }

/* Footer Rules */

#footer {
    
    margin-top: 5vh;
    display: grid;
    align-items: center;
    width: 100%;
    min-height: 7vh;
    text-align: center;
    background-color: #c3a068;
    font-size: small;
    font-family: $header-fontstyle;
    @include tablet-layout-fontnav();
   
}

}