* {
  margin: 0;
  padding: 0;
}

h1 {
  color: #4b0808;
  text-align: center;
  margin: 10% 5% 10% 5%;
  width: 90%;
  font-family: "Asap", sans-serif;
}

@media only screen and (min-width: 600px) {
  h1 {
    font-size: 2.3em;
  }
}

/* HEADER RULES  */
#header {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(80px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  min-height: 10vh;
  text-align: center;
  background-color: #ffe6a7;
  font-family: "Magra", sans-serif;
  /* Logo */
  /* Phone number container */
  /* Hiding desktop navigation bar */
}

@media only screen and (min-width: 600px) {
  #header {
    font-size: 1.3em;
  }
}

#header img {
  margin: 10px;
  width: 60%;
}

#header h2 {
  display: -ms-grid;
  display: grid;
  font-size: 1em;
  color: black;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 95%;
  /* Hiding non-clickable phone number */
  /* Making sure clickable phone number shows on mobile*/
}

#header h2 .regular {
  display: none;
}

#header h2 .clickable {
  font-size: 1.5em;
  text-decoration: none;
  color: white;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  padding: 2px;
  margin: 2px;
  background-color: #D10000;
  -webkit-box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.5), 0 6px 25px 0 rgba(0, 0, 0, 0.5);
          box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.5), 0 6px 25px 0 rgba(0, 0, 0, 0.5);
}

#header h2 .clickable:active {
  background-color: #4b0808;
}

#header #navbar-desktop {
  display: none;
}

/* Navigation bar rules for mobile */
#navbar {
  position: -webkit-sticky;
  position: sticky;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  width: 100%;
  min-height: 7vh;
  background-color: #c3a068;
  top: 0;
  z-index: 100;
  font-family: "Magra", sans-serif;
  /* Navigation links  */
}

@media only screen and (min-width: 600px) {
  #navbar {
    font-size: 1.3em;
  }
}

#navbar a {
  color: black;
  font-weight: bold;
  text-decoration: none;
}

@media only screen and (min-width: 600px) {
  #navbar a {
    font-size: 1.3em;
  }
}

#navbar a:active {
  color: white;
  background-color: #4b0808;
  margin: 10px;
}

/* CONTENT RULES */
#content {
  height: auto;
  /* Header that displays important info meant to stand out on front of page  */
  /* Regular paragraph font styling  */
  /* Link Styling */
  /* CONTACT PAGE */
  /* Image styling */
  /* Responsive iframe  */
}

#content #desktop-indexgrid {
  display: none;
}

#content .boldheader {
  font-size: 1em;
  text-align: center;
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 5%;
  width: 80%;
  color: #D10000;
  border: solid #D10000 1px;
  font-family: "Asap", sans-serif;
}

@media only screen and (min-width: 600px) {
  #content .boldheader {
    font-size: 2em;
  }
}

#content p {
  font-weight: bold;
  width: 90%;
  padding: 5%;
  margin-top: 10%;
  margin-bottom: 10%;
  text-align: justify;
  font-size: 1em;
  font-family: "Asar", serif;
}

@media only screen and (min-width: 600px) {
  #content p {
    font-size: 1.2em;
  }
}

#content a {
  text-align: center;
  display: block;
  font-size: 1.5em;
  font-weight: bold;
  color: #8f8f8f;
  font-family: "Asap", sans-serif;
  width: 95%;
  margin: 5%;
}

@media only screen and (min-width: 600px) {
  #content a {
    font-size: 2em;
  }
}

#content a:active {
  color: #D10000;
}

#content .contactheader {
  width: 95%;
  margin: 5%;
  text-align: center;
}

#content .contactinfo {
  margin-top: 20px;
  margin-bottom: 20px;
  width: 95%;
  text-align: center;
  font-family: "Asar", serif;
}

@media only screen and (min-width: 600px) {
  #content .contactinfo {
    font-size: 1.2em;
  }
}

#content .rounded-image {
  display: block;
  width: 90%;
  height: 50vh;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 20% 20%;
     object-position: 20% 20%;
  margin: auto;
  border-radius: 10%;
  margin-top: 5%;
  margin-bottom: 5%;
  -webkit-box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.5), 0 6px 25px 0 rgba(0, 0, 0, 0.5);
          box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.5), 0 6px 25px 0 rgba(0, 0, 0, 0.5);
}

#content #pizza-image {
  display: block;
  width: 90%;
  height: 40vh;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 40% 40%;
     object-position: 40% 40%;
  margin-top: 5vw;
  margin-bottom: 5vw;
  border-radius: 5%;
}

#content .iframe-container {
  width: 100%;
  height: 50vh;
}

#content .responsive-iframe {
  margin-left: 5%;
  width: 90%;
  height: 100%;
}

/* MENU PAGE */
#grid-container > .seperator {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(150px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  width: 90%;
  margin-left: 5%;
  margin-top: 5vh;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#grid-container > .seperator h3 {
  display: -ms-grid;
  display: grid;
  text-align: center;
  background-color: #4b0808;
  color: white;
  margin: 3%;
  width: 95%;
  top: 0%;
  height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Asap", sans-serif;
}

@media only screen and (min-width: 600px) {
  #grid-container > .seperator h3 {
    font-size: 2em;
  }
}

#grid-container > .seperator #card-container {
  display: -ms-grid;
  display: grid;
  position: relative;
}

#grid-container > .seperator .menu-image {
  width: 95%;
  margin: 3%;
  height: 30vh;
  -o-object-fit: cover;
     object-fit: cover;
}

.menu-description {
  display: -ms-grid;
  display: grid;
  position: absolute;
  margin: 3%;
  width: 95%;
  top: 0%;
  height: 30vh;
  opacity: 0;
  text-align: center;
  font-size: 0.8em;
  background-color: white;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
  font-family: "Asar", serif;
}

@media only screen and (min-width: 600px) {
  .menu-description {
    font-size: 1.5em;
  }
}

.menu-description:active {
  background-color: rgba(255, 255, 255, 0.8);
  opacity: 1;
}

.menu-name {
  margin: 3%;
  color: #4b0808;
  font-size: 1.5em;
}

/* Footer Rules */
#footer {
  margin-top: 5vh;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  min-height: 7vh;
  text-align: center;
  background-color: #c3a068;
  font-size: small;
  font-family: "Asap", sans-serif;
}

@media only screen and (min-width: 600px) {
  #footer {
    font-size: 1.3em;
  }
}

/* TABLET SCREEN RULES ONLY */
@media only screen and (min-width: 600px) {
  #header {
    /* Making phone link no longer clickable  */
  }
  #header h2 > p {
    display: none;
  }
  #header .clickable {
    display: none;
  }
  #header h2 > .regular {
    font-size: 1.5em;
    text-decoration: none;
    color: white;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    padding: 2px;
    margin: 2px;
    background-color: #D10000;
    display: block;
  }
  /* Making Content page display the same as on desktop */
  #content #desktoptable {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    justify-items: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 80%;
    margin-left: 10%;
    margin-top: 5%;
    margin-bottom: 5%;
    border: black solid 2px;
    grid-gap: 2px;
    background-color: black;
  }
  #content #desktoptable .contactborder {
    width: 100%;
    height: 100%;
    background-color: white;
  }
  #content #desktoptable h1 {
    text-align: center;
    width: 95%;
    padding: 2%;
  }
  #content #desktoptable p, #content #desktoptable a {
    display: -ms-grid;
    display: grid;
    text-align: center;
    font-size: 1.5em;
    margin: auto;
    width: 95%;
    padding: 2%;
    margin: 0;
  }
  #content #desktoptable .contactheader {
    margin: auto;
    padding: 2%;
  }
  /* minor changes to grid */
  #grid-container > .seperator {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (minmax(250px, 1fr))[2];
        grid-template-columns: repeat(2, minmax(250px, 1fr));
    width: 90%;
    margin-left: 5%;
    margin-top: 5vh;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
/*# sourceMappingURL=style.css.map */