* {
    margin:0;
    padding:0;
}

h1 {
    color: #4b0808;
    text-align: center;
    margin: auto;
    padding: 10px;
      
}

#header {

display: grid;
grid-template-columns: repeat(2, minmax(80px,1fr));
align-items: center;
justify-content: center;
width: 100%;
min-height: 10vh;
text-align: center;
background-color: #ffe6a7;

img {
    margin: 10px;
    width: 60%;

}

h2 {
    display: grid;
    font-size: 1em;
    color: black;
    align-items: center;
    width:90%;
   
    
    a {
        font-size: 1.5em;
        text-decoration: none;
        color: white;
        text-shadow: -1px -1px 0 #000,
		1px -1px 0 #000,
		-1px 1px 0 #000,
		1px 1px 0 #000;
        padding: 5px;
        margin:5px;
        background-color: #D10000;
    
    }
}

}

#navbar {
position: sticky;
display: grid;
grid-template-columns: 1fr 1fr 1fr 1fr; 
align-items: center;
justify-content: center;
text-align: center;
width: 100%;
min-height: 7vh;
background-color: #c3a068;
top:0;
z-index:100;


a { 
    color:black;
    font-weight: bold;
    text-decoration: none;


    &:hover {
        color: white;
        background-color: #4b0808;
        margin: 10px;
    }
    
}

}


#content {
   
    height: auto;

    .boldheader {
        font-size: 1em;
        text-align: center;
        margin: 10px;
        padding: 10px;
        color:#D10000;
        border: solid #D10000 1px;

    }

    
    p {
       position: relative;
        margin:auto;
        padding:30px;
        text-align: justify; 
        z-index: 1;
        background: white;
       
        
    }

     #pizza-image {

        position: relative;
        display: block;
        width: 95%;
        height:55vh;
        bottom: 20vh;
        top:0vh;
        object-fit: cover;
        margin: auto;
        border-radius: 10%;
        
    
    }

    
    }



.iframe-container {
    
        position: relative;
        overflow: hidden;
        width: 100%;
        padding-top: 56.25%; 
     
 .responsive-iframe {

  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;

    }
}
    


#grid-container > .seperator {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(140px,1fr));
    width: 90%;
    margin-left: 5%;
    margin-top: 5vh;
    justify-content: center;
    align-items: center;
    background-color:#4b0808;
 

    h3 {
        display: grid;
        font-size: 0.8em;
        text-align: center;
        background-color: #4b0808;
        color: white;
        margin:3%;
        width: 95%;
        top: 0%;
        height: 30vh;
        justify-content: center;
        align-items: center;
    }

   
    
    #card-container {
        display: grid;
        position: relative;
        
 

    }

    .menu-image {
        
        width:95%;
        margin: 3%;
        height:30vh;
        object-fit: cover;
        
        }
    
    }

    
    .menu-description {

        display: grid;
        position: absolute;
        margin:3%;
        width: 95%;
        top: 0%;
        height: 30vh;
        opacity: 0;
        text-align: center;
        font-size: 0.8em;
        background-color:white;
        justify-content: center;
        align-items: center;
        transition: all 0.25s ease-in-out;
        

        &:active {
            background-color: rgba(255, 255, 255, 0.8);
            opacity:1;
        }

       }


#footer {
    
    margin-top: 10px;
    display: grid;
    align-items: center;
    width: 100%;
    min-height: 7vh;
    text-align: center;
    background-color: #c3a068;
    font-size: small;


}