* {
    margin:0;
    padding:0;
}

h1 {
    color: #4b0808;
    text-align: center;
    margin: auto;
    padding: 10px;
      
}

#header {

display: grid;
grid-template-columns: repeat(2, minmax(80px,1fr));
align-items: center;
justify-content: center;
width: 100%;
min-height: 10vh;
text-align: center;
background-color: #F8C032;

img {
    margin: 10px;
    width: 60%;

}

h2 {
    font-size: 1em;
    
    a {
        text-decoration: none;
        color: red;
        background-color: yellow;
        padding: 3px;
    }
}

}

#navbar {

display: grid;
grid-template-columns: repeat(3, minmax(10px,1fr));
align-items: center;
justify-content: center;
text-align: center;
width: 100%;
min-height: 5vh;
background-color: #D10000;


a { 
    color:black;
    font-weight: bold;
    text-decoration: none;

    &:hover {
        color: yellow;
        background-color: #4b0808;
        margin: 10px;
    }
    
}

}


#content {
   
    height: 80vh;

    h1 {
        font-size: 1em;
        text-align: center;
        margin: 10px;
        padding: 10px;
        color:black;

    }
    
  
    p {
        margin:10px;
        padding:10px;

    }


    img {
        display: block;
        width: 80vw;
        margin: auto;
        padding: 10px;
    }
    
    
}

#grid-container > .seperator {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(140px,1fr));
    width: 90%;
    margin-left: 5%;
    margin-top: 5vh;
    justify-content: center;
    align-items: center;
    background-color:#4b0808;
 

    h3 {
        display: grid;
        font-size: 0.8em;
        text-align: center;
        background-color: #4b0808;
        color: white;
        margin:3%;
        width: 95%;
        top: 0%;
        height: 30vh;
        justify-content: center;
        align-items: center;
    }

   
    
    #card-container {
        display: grid;
        position: relative;
        
 

    }

    .menu-image {
        
        width:95%;
        margin: 3%;
        height:30vh;
        object-fit: cover;
        
        }
    
    }

    
    .menu-description {

        display: grid;
        position: absolute;
        margin:3%;
        width: 95%;
        top: 0%;
        height: 30vh;
        opacity: 0;
        text-align: center;
        font-size: 0.8em;
        background-color:white;
        justify-content: center;
        align-items: center;
        transition: all 0.25s ease-in-out;
        

        &:active {
            background-color: rgba(255, 255, 255, 0.8);
            opacity:1;
        }

       }


 


#footer {
    display: grid;
    align-items: center;
    width: 100%;
    min-height: 5vh;
    text-align: center;
    background-color: #D10000;
    font-size: small;


}